{% extends 'base.html' %}
{% block content %}

<h1 class="add_something_h1">List An Item </h1>
<div class="sign_up_form">
    <form action="/login" method="POST">
        What is your item? <input type="text", name="item"><br>
        How much are you selling it for? (in cents) <input type="text" name="price"><br>
        Add a photo <input class="file_upload_input" type="file" name="image" onchange="readURL(this)" accept="Image/*"><br>
        <input type="submit" value="Sell Your Item">

        
    </form>
</div>

{% endblock %}