<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Bazaar</title>
    <script src="https://kit.fontawesome.com/e5dab02a96.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
</head> 
<!-- References:
search bar: https://www.youtube.com/watch?v=v1PeTDrw6OY -->
<header>
    <img class='logo' src="/static/Retro Bazaar-logos.jpeg" alt="">

</header>


<body>
    <nav class="centred">
        <div><a class="home_link" href="/">Home</a>
        
        {% if session['user_id']  %}
            <a href="/logout">Log Out</a>
            <a href="/wishlist">Your Wishlist</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
        <a href="/signup">Sign Up</a>
        </div>
        
        <div>
            <form class="search_box" action="/searched_library" method="POST">
                <input class="search_txt" type="text" placeholder="search" name="searched">
                <button class="search_btn" type="submit" value="searched"><i class="fa-solid fa-magnifying-glass"></i></button>
                
            </form>
            
        </div>
    </nav>
    {% if session['user_id']  %}
    <p class="logged_in">Logged in as {{ session['name'] }}</p>
    {% endif %}
        
    
{% block content %}
{% endblock %}
<footer>
    Copyright Retro Bazaar 2022
</footer>
</body>

</html>