{% extends 'base.html' %}
{% block content %}
<div class="container1">
    <div>
        <a class="game_library"  href="/game_library"><img src="https://cdn.pixabay.com/photo/2020/05/17/11/08/nes-5181088_960_720.jpg"></a>
        <p class="game_library_text">See Our Full List Of Games For Sale</p>
    </div>
        <div class="add_something_div"><a class="add_something"  href="/add_something"><img src="https://cdn.pixabay.com/photo/2020/04/17/18/29/playstation-5056411_960_720.jpg"></a>
        <p class="add_something_text">Sell Something</p>
    </div>
    
</div>

{% endblock %}